<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:type) %></th>
      <th><%= model_class.human_attribute_name(:topic) %></th>
      <th><%= model_class.human_attribute_name(:t) %></th>
      <th><%= t 'received_at' %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.id, event_path(event) %></td>
        <td><%= event.url %></td>
        <td><%= event.type %></td>
        <td><%= event.topic %></td>
        <td><%= event.t %></td>
        <td><%=l event.created_at %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
