<div class="col-lg-12">

  <div class="page-header">
    <h1>Event #<%= @event.id %></h1>
  </div>

  <dl class="dl-horizontal">
    <dt class="text-uppercase"><strong><%= Event.human_attribute_name(:url) %>:</strong></dt>
    <dd><%= @event.url %></dd>
    <dt class="text-uppercase"><strong><%= Event.human_attribute_name(:type) %>:</strong></dt>
    <dd><%= @event.type %></dd>
    <dt class="text-uppercase"><strong><%= Event.human_attribute_name(:topic) %>:</strong></dt>
    <dd><%= @event.topic %></dd>
    <dt class="text-uppercase"><strong>Sent at:</strong></dt>
    <dd><%= l Time.at(@event.t/1000) %></dd>
    <dt class="text-uppercase"><strong>Received at:</strong></dt>
    <dd><%= l @event.created_at %></dd>
  </dl>

  <p class="text-right">
    <%= link_to 'Replay', replay_event_path(@event), class: 'btn btn-warning btn-large' %> or
    <%= link_to 'back to events page', events_path %>
  </p>
</div>
